In [1]:
import pandas as pd
import numpy as np
import mmh3

In [2]:
kmer_folder="../kmer_counts/bc_vs_bf/"

file1 = kmer_folder + "n" + str(1) + ".txt"
df1 = pd.read_csv(file1,sep="\t",header=None,names=["kmer","counts"])
file2 = kmer_folder + "n" + str(1) + ".txt"
df2 = pd.read_csv(file2,sep="\t",header=None,names=["kmer","counts"])

In [3]:
df1

              kmer  counts
0       AAAAAAAAAG      31
1       AAAAAAAAAT      82
2       AAAAAAAACG      16
3       AAAAAAAACT      27
4       AAAAAAAAGC      15
...            ...     ...
446391  TTTGTTAAAA      12
446392  TTTTAAAAAA      33
446393  TTTTAGAAAA      16
446394  TTTTATAAAA      27
446395  TTTTCCAAAA      86

[446396 rows x 2 columns]

In [4]:
num_hash = 6
total = df1.shape[0]
array_size = 8*total

In [5]:
array1 = np.zeros(array_size,dtype=np.uint16)
array2 = np.zeros(array_size,dtype=np.uint16)

# df1 = pd.read_csv(file1,sep="\t",header=None,names=["kmer","counts"])
kmers1 = df1.kmer
counts1 = df1.counts
total = df1.shape[0]

for i in range(0,total):
    for k in range(0, num_hash):
        index = mmh3.hash(kmers1[i],k,signed=False)%array_size
        array1[index] += counts1[i]

# df2 = pd.read_csv(file2,sep="\t",header=None,names=["kmer","counts"])
kmers2 = df2.kmer
counts2 = df2.counts
total = df2.shape[0]

for i in range(0,total):
    for k in range(0, num_hash):
        index = mmh3.hash(kmers2[i],k,signed=False)%array_size%array_size
        array2[index] += counts2[i]

In [1]:
max(array1)

NameError: name 'array1' is not defined

In [7]:
cosine = np.dot(array1,array2)/(np.linalg.norm(array1)*np.linalg.norm(array2))

In [8]:
np.dot(array1,array2)

65524

In [9]:
np.linalg.norm(array1)

98932.65646893345

In [10]:
array1mag = np.sqrt(np.sum(array1**2)) 
array2mag = np.sqrt(np.sum(array2**2))

In [11]:
array1mag*array2mag

9630973940.0

In [12]:
sum(array1*array2)

9630973940

In [14]:
cosine=sum(array1*array2)/(array1mag*array2mag)
cosine

1.0