In [1]:
import pandas as pd
import numpy as np
import mmh3
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
kmer_folder="./sim_63/kmer_counts_x10_k30/P0/"

file1 = kmer_folder + "n" + str(1) + ".txt"
df1 = pd.read_csv(file1,sep="\t",header=None,names=["kmer","counts"])
file2 = kmer_folder + "n" + str(2) + ".txt"
df2 = pd.read_csv(file2,sep="\t",header=None,names=["kmer","counts"])

In [31]:
df1

                                  kmer  counts
0       AAAAAAAAAAAAAAAAAAAGGCCGTCCCAT       1
1       AAAAAAAAAAAAAAAAAAAGGCCGTTCCAT       5
2       AAAAAAAAAAAAAAAAAACTATTAAAGTAT       9
3       AAAAAAAAAAAAAAAAAACTATTAAAGTGT       1
4       AAAAAAAAAAAAAAAAAACTGGAGTATATA      11
...                                ...     ...
142767  TTTTTCATTATAAAGTGAAAAAACGAAAAA      14
142768  TTTTTCATTTTTGTAATCAAAGCCAAAAAA       4
142769  TTTTTGGCTTTGATTACAAAAATGAAAAAA       4
142770  TTTTTGTTTGTTAATTCAGTAGTGAAAAAA       8
142771  TTTTTTAAAAAATTCACACATATCAAAAAA       6

[142772 rows x 2 columns]

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142772 entries, 0 to 142771
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   kmer    142772 non-null  object
 1   counts  142772 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.2+ MB

In [35]:
num_hash = 4
total = df1.shape[0]
array_size = 10000

In [46]:
total = df1.shape[0]
array_size = 10000

array1 = np.zeros(array_size,dtype=np.uint16)
array2 = np.zeros(array_size,dtype=np.uint16)

kmers1 = df1.kmer
counts1 = df1.counts
total = df1.shape[0]

for i in range(0,total):
    for k in range(0, num_hash):
        index = mmh3.hash(kmers1[i],k,signed=False)%array_size
        array1[index] += counts1[i]

kmers2 = df2.kmer
counts2 = df2.counts
total = df2.shape[0]

for i in range(0,total):
    for k in range(0, num_hash):
        index = mmh3.hash(kmers2[i],k,signed=False)%array_size
        array2[index] += counts2[i]

cosine = cosine_similarity([array1],[array2])

result = 1 - cosine[0][0]

In [49]:
array1.nbytes

20000

In [40]:
result

0.0036576474321911023